*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
#main{
height: 100%;
    width: 100%;
    background-image:url("mod.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}
#h{
    font-size: 3em;
    color: rgb(240, 255, 241);
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
#i{
    height: 20%;
    width: 20%;
    background-color: aqua;
    margin-top: 30%;
    margin-left: 20%;
    border-radius: 50%;
    text-align: center;
    font-size:2em ;
    padding-top: 2%;
    
}
#i:hover{
    font-weight: 900;
    background-color: grey;
}
    
    

